:root {
	--primary: #77003d;
	--white: #fff;
}
html,
body {
	height: 100vh;
	width: 100%;
	min-width: fit-content;
}
h2 {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
}
h3 {
	font-size: 1.2rem;
	font-weight: bold;
}
a {
	color: var(--primary);
}
.main {
	flex-grow: 1;
}
.list {
	list-style: inside;
}
.is-main,
.is-main:hover,
.is-main:focus,
.is-main:target,
.is-main:active {
	background-color: var(--primary);
	border-color: transparent;
	color: var(--white);
}
.text-white {
	color: var(--white);
}
.logo {
	width: 315px;
	height: 70px;
	max-height: none !important;
}
